:root{
    --color-purple : #44355b;
    --color-light-purple : #b79edb;

    --color-dark-orange : #e65c04;
    --color-orange : #f48c06;

    --color-sable : #feeab7;
    --color-dutch-white : #fff3d2 ;
    --color-black : #000000;
    --color-grey : #2c2c2c;

    --color-purple-transparent : #44355b99;
    --color-light-purple-transparent : #b79edb99;

    --color-dark-orange-transparent : #e65c0480;
    --color-orange-transparent : #f48c0680;

}